<!DOCTYPE html>
<html>
<head>
  <title>File Detail</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>File: <%= filename %></h1>
  <pre><%= content %></pre>
  <a href="/">Back to List</a>
</body>
</html>
